name: Deploy

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
    branches: [ prod ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/f-gillmann/wordle-ssh:latest

      - name: Deploy on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker pull ghcr.io/f-gillmann/wordle-ssh:latest
            docker stop wordle-ssh || true
            docker rm wordle-ssh || true
            docker run -d --name wordle-ssh -t \
              -p 22:23234 \
              -e WORDLE_SSH_HOST_KEY_PATH=/root/.ssh/id_ed25519 \
              -e WORDLE_SSH_DB_PATH=/data/wordle-stats.db \
              -e WORDLE_SSH_MOTD="wordle.flg.sh" \
              -v ssh-keys:/root/.ssh \
              -v wordle-data:/data \
              --restart unless-stopped \
              ghcr.io/f-gillmann/wordle-ssh:latest
